<div class="container">
  <% include partials/homepage_header %>
</div>


<header class = "jumbotron">
  
  
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p id="motto"> The City for Peace</p>
        </div>
</header>
    
<div class = "container">
    
</div>

<% include partials/footer %>