.thumbnail img{
    width : 100%;
}

.thumbnail{
    padding:0;
}

.thumbnail .caption-full{
    padding : 9px;
}

.delete-form{
    display: inline;
}

.navbar {
    background-color: #eee;
    margin:0; /*add this*/
}

.jumbotron h1{
    text-align:center;
}

.jumbotron #motto{
    text-align:center;
}

.jumbotron{
    position:absolute;
	z-index:-1;
	width:100%;
	height:100%;
}